html,
body {
    font-family: "SF UI Display", ".PingFang SC", "PingFang SC", "Neue Haas Grotesk Text Pro", "Arial Nova", "Segoe UI", "Microsoft YaHei", "Microsoft JhengHei", "Helvetica Neue", "Source Han Sans SC", "Noto Sans CJK SC", "Source Han Sans CN", "Noto Sans SC", "Source Han Sans TC", "Noto Sans CJK TC", "Hiragino Sans GB", sans-serif;
    font-size: 16px;
    color: #222 -webkit-text-size-adjust:none;
    min-width: 200px;
    max-width: 760px;
    margin: 0 auto;
    padding: 1rem;
    line-height: 1.5rem;

}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "PT Sans", "SF UI Display", ".PingFang SC", "PingFang SC", "Neue Haas Grotesk Text Pro", "Arial Nova", "Segoe UI", "Microsoft YaHei", "Microsoft JhengHei", "Helvetica Neue", "Source Han Sans SC", "Noto Sans CJK SC", "Source Han Sans CN", "Noto Sans SC", "Source Han Sans TC", "Noto Sans CJK TC", "Hiragino Sans GB", sans-serif;
    text-rendering: optimizelegibility;
    margin-bottom: 1em;
    font-weight: bold;
    line-height: 1.8rem;

}

h1,
h2 {
    position: relative;
    padding-top: 1rem;
    padding-bottom: 0.2rem;
    margin-bottom: 1rem;
    border-bottom: solid 1px #eee;
}

h2 {
    padding-top: 0.8rem;
    padding-bottom: 0.2rem;
}

h1 {
    font-size: 1.6rem;
}

h2 {
    font-size: 1.4rem;
}

h3 {
    font-size: 1.2rem;
}

h4 {
    font-size: 1.1rem;
}

h5 {
    font-size: 1.0rem;
}

h6 {
    font-size: 0.9rem;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    margin-top: 0.8rem;
    margin-bottom: 1.4rem;
}

tr {
    background-color: #fff;
    border-top: 1px solid #ccc;
}

th,
td {
    padding: 5px 14px;
    border: 1px solid #ddd;
}

blockquote {
    font-style: italic;
    font-size: 1.1em;
    line-height: 1.5em;
    padding-left: 1em;
    border-left: 4px solid #D5D5D5;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 1.5rem;
}

a {
    color: #1863a1
}

a:hover {
    color: #1b438d;
}



img {
    max-width: 100%;
    padding: 8px 0px;
}


hr {
    height: 0;
    margin: 15px 0;
    overflow: hidden;
    background: transparent;
    border: 0;
    border-bottom: 1px solid #ddd;
}

figcaption {
    text-align: center;
}

/* PrismJS 1.14.0
https://prismjs.com/download.html#themes=prism-solarizedlight&languages=markup+css+clike+javascript */
/*
 Solarized Color Schemes originally by Ethan Schoonover
 http://ethanschoonover.com/solarized

 Ported for PrismJS by Hector Matos
 Website: https://krakendev.io
 Twitter Handle: https://twitter.com/allonsykraken)
*/

/*
SOLARIZED HEX
--------- -------
base03    #002b36
base02    #073642
base01    #586e75
base00    #657b83
base0     #839496
base1     #93a1a1
base2     #eee8d5
base3     #fdf6e3
yellow    #b58900
orange    #cb4b16
red       #dc322f
magenta   #d33682
violet    #6c71c4
blue      #268bd2
cyan      #2aa198
green     #859900
*/


.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
    color: #93a1a1;
    /* base1 */
}

.token.punctuation {
    color: #586e75;
    /* base01 */
}

.namespace {
    opacity: .7;
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
    color: #268bd2;
    /* blue */
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.url,
.token.inserted {
    color: #2aa198;
    /* cyan */
}

.token.entity {
    color: #657b83;
    /* base00 */
    background: #eee8d5;
    /* base2 */
}

.token.atrule,
.token.attr-value,
.token.keyword {
    color: #859900;
    /* green */
}

.token.function,
.token.class-name {
    color: #b58900;
    /* yellow */
}

.token.regex,
.token.important,
.token.variable {
    color: #cb4b16;
    /* orange */
}

.token.important,
.token.bold {
    font-weight: bold;
}

.token.italic {
    font-style: italic;
}

.token.entity {
    cursor: help;
}

.line-numbers .line-numbers-rows {
    position: absolute;
    pointer-events: none;
    top: 0;
    font-size: 100%;
    left: -3.8em;
    width: 3em;
    /* works for line-numbers below 1000 lines */
    letter-spacing: -1px;
    border-right: 1px solid #999;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

}

.line-numbers-rows>span {
    pointer-events: none;
    display: block;
    counter-increment: linenumber;
}

.line-numbers-rows>span:before {
    content: counter(linenumber);
    color: #999;
    display: block;
    padding-right: 0.8em;
    text-align: right;
}